
<div class="hero"></div>
<body>
    <main class="container">
        <section class="row" id="events">
            <div class="col align-self-start">
                <div class="border border-success p-2 mb-2">Event Title</div>
            </div>
            <div class="col align-self-start">
                <div class="border border-success p-2 mb-2">Event Information</div>
            </div>
            <div class="col align-self-start">
                <div class="border border-success p-2 mb-2">July 2022</div>
            </div>
        </section>
    </main>
    <div id="wrapper">
        <main id="left-box">
            <section class="create-event">
                <h1>Create Event</h1>
                <p>What is the name of your Event?</p>
                <textarea></textarea>
                <p>Please give some information regarding this event.</p>
                <textarea></textarea>
                <p>What day would you like to set the event for?</p>
                <input type="date"/>
                <button class="submit">Submit</button>
            </section>
        </main>
        <main id="Calendar">
            <section class="month">
                <i class="fa fa-angle-left prev "></i>
                <h1 class="Current-month">July</h1>
                <p class="date">Fri July 1, 2022</p>
                <i class="fa fa-angle-right next "></i>
            </section>
            <section id="weekdays">
                <div class="week">Sunday</div>
                <div class="week">Monday</div>
                <div class="week">Tuesday</div>
                <div class="week">Wednesday</div>
                <div class="week">Thursday</div>
                <div class="week">Friday</div>
                <div class="week">Saturday</div>
            </section>
            <section id="days">
                <div class="prev-date">26</div>
                <div class="prev-date">27</div>
                <div class="prev-date">28</div>
                <div class="prev-date">29</div>
                <div class="prev-date">30</div>
                <div class="day-hover">1</div>
                <div class="day-hover">2</div>
                <div class="day-hover">3</div>
                <div class="day-hover">4</div>
                <div class="day-hover">5</div>
                <div class="day-hover">6</div>
                <div class="day-hover">7</div>
                <div class="day-hover">8</div>
                <div class="day-hover">9</div>
                <div class="day-hover">10</div>
                <div class="day-hover">11</div>
                <div class="day-hover">12</div>
                <div class="day-hover">13</div>
                <div class="day-hover">14</div>
                <div class="day-hover">15</div>
                <div class="day-hover">16</div>
                <div class="day-hover">17</div>
                <div class="day-hover">18</div>
                <div class="day-hover">19</div>
                <div class="day-hover">20</div>
                <div class="day-hover">21</div>
                <div class="day-hover">22</div>
                <div class="day-hover">23</div>
                <div class="day-hover">24</div>
                <div class="day-hover">25</div>
                <div class="day-hover">26</div>
                <div class="day-hover">27</div>
                <div class="day-hover">28</div>
                <div class="day-hover">29</div>
                <div class="day-hover">30</div>
                <div class="day-hover">31</div>
                <div class="next-date">1</div>
                <div class="next-date">2</div>
                <div class="next-date">3</div>
                <div class="next-date">4</div>
                <div class="next-date">5</div>
                <div class="next-date">6</div>
            </section>
        </main>
        <main id="right-box">
            <section class="upcoming-events">
                <h1>Upcoming Events</h1>
                <section class="card1">
                    <div class="card shadow m-3">
                    <div class="card-body1"></div>
                </section>
                <section class="card2">
                    <div class="card shadow m-3">
                    <div class="card-body2"></div>
                </section>
                <section class="card3">
                    <div class="card shadow m-3">
                    <div class="card-body3"></div>
                </section>
            </section>
        </main>
    </div>
</body>