<!--This is the homepage modal. That allows the user to sign, reset their password, or sign up for an account. -->
<nav class="navbar navbar-light" id="nav">
    <div>
        <p>
            If you don't already have an account, please sign up by clicking on the "Sign Up"
            button below. If you do have an account, please sign in by clicking on the "Login"
            button below. If you've forgotten your password, please use the "Reset Password"
            button.
        </p>
    </div>
    <div class="form-group">
        <button id="login-button" class="btn btn-primary" type="submit">Login</button>
    </div>
    <div class="form-group">
        <button id="signUp-button" class="btn btn-primary" type="submit">Sign Up</button>
    </div>
    <div class="form-group">
        <button id="resetPassword-button" class="btn btn-primary" type="submit">Reset Password</button>
    </div>
</nav>
<script src="/js/index.js"></script>
<!--This is the homepage modal. That allows the user to sign, reset their password, or sign up for an account. -->
