<!--This is the log in modal. -->
<nav class="navbar navbar-light" id="nav">
  <div class="row">
    <p>
      Please enter your login credentials. If you've forgotten them, please
      click on the "forgot password" button below.
    </p>
    <div class="col-md-6">
      <h2>Login</h2>

      <form class="form login-form">
        <div class="form-group">
          <label for="email-login">Email:</label>
          <input class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group">
          <label for="password-login">Password:</label>
          <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Login</button>
        </div>
      </form>
        <div class="form-group">
          <button
            id="resetPasswordLogin-button"
            class="btn btn-primary"
            type="submit"
          >Reset Password</button>
        </div>
    </div>
  </div>
</nav>
<script src="/js/login.js"></script>
<!--This is the log in modal. -->
