
<nav class="navbar navbar-light" id="nav">
<div class="row"></div>
<div class="col-md-6">
        <h4>
            In order for you to reset your password you will need to first provide some information
            to validate you as an existing user. Please make sure that you fill out all of the Information
            below.
        </h4>
        <form class="form signup-form">
            <div class="form-group">
                <label for="FirstName-signup">First Name:</label>
                <input class="form-input" type="text" id="UserFirstName-signup" />
            </div>
            <div class="form-group">
                <label for="LastName-signup">Last Name:</label>
                <input class="form-input" type="text" id="UserLastName-signup" />
            </div>
            <div class="form-group">
                <label for="email-signup">Email:</label>
                <input class="form-input" type="text" id="email-signup" />
            </div>
            <div class="form-group">
                <label for="password-signup">Password:</label>
                <input class="form-input" type="password" id="password-signup" />
            </div>
            <div class="form-group">
                <label for="ConfirmPassword-signup">Confirm Password:</label>
                <input class="form-input" type="password" id="ConfirmPassword-signup" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Sign Up</button>
            </div>
    </form>
    <div class="form-group">
            <button id="homePage-button" class="btn btn-primary" type="submit">Home</button>
    </div>
</div>
</div>
</nav>
<script src="/js/sign_up.js"></script>