<nav class="navbar navbar-light" id="nav">
<div class="row"></div>
<div class="col-md-6">
    <h3>Please enter your details below so that we can create an account for you.</h3>
        <form class="form signup-form">
            <div class="form-group">
                <label for="FirstName-signup">First Name:</label>
                <input class="form-input" type="text" id="UserFirstName-signup" />
            </div>
            <div class="form-group">
                <label for="LastName-signup">Last Name:</label>
                <input class="form-input" type="text" id="UserLastName-signup" />
            </div>
            <div class="form-group">
                <label for="email-signup">Email:</label>
                <input class="form-input" type="text" id="email-signup" />
            </div>
            <div class="form-group">
                <label for="password-signup">Password:</label>
                <input class="form-input" type="password" id="password-signup" />
            </div>
            <div class="form-group">
                <label for="ConfirmPassword-signup">Confirm Password:</label>
                <input class="form-input" type="password" id="ConfirmPassword-signup" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Sign Up</button>
            </div>
    </form>
    <div class="form-group">
            <button id="homePage-button" class="btn btn-primary" type="submit">Home</button>
    </div>
</div>
</div>
</nav>
<script src="/js/sign_up.js"></script>
